.wpg-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.wpg-item iframe {
    width: 100%;
    height: 180px;
}

.wpg-item p {
    text-align: center;
    font-size: 14px;
    margin-top: 6px;
}
